*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    color: #a4a2a2;
    text-shadow: 1px 1px rgba(133, 124, 124, 0.5);
}
.container{
    max-width: 1096px;
    margin: 0 auto;
}
.main-banner{
    background-image: url("../images/main-banner.jpg");
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}
.page-navigation-cover{
    position: relative;
    z-index: 0;
    border: 1px solid rgba(90, 80, 80, 0.5);
    height: 90px;
}
.page-navigation-cover::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 1;
}
.page-navigation{
    padding: 30px 0;
}
.page-navigation > img{
    position: absolute;
    z-index: 2;
}
.page-navigation > nav{
    float: right;
}
.page-navigation > nav > ul{
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}
.page-navigation > nav > ul > li{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;
}
.page-navigation > nav > ul > li:hover{
    background: rgba(255, 255, 255, 0.2);
}
.page-navigation > nav > ul > li:nth-child(2), .page-navigation > nav > ul > li:nth-child(3), .page-navigation > nav > ul > li:nth-child(4){
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgba(90, 80, 80, 0.8);
}
.page-navigation > nav > ul > li > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
.main-page{
    height: 100%;
    position: relative;
}
.main-page::before{
    content: "";
    position: absolute;
    height: calc(100% - 97px);
    width: 100%;
    background: black;
    opacity: 0.4;
}
.main-page-content{
    width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.main-page-content > h1, .main-page-content > p{
    text-align: center;
    color: white;
}
.main-page-content > h1{
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 900;
}
.main-page-content > p{
    font-weight: 300;
    font-size: 15px;
    color: #d4cfcf;
    text-shadow: 1px 1px #948e8e;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.btn{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    padding: 20px 50px;
    margin: 0 10px;
    border: none;
    border-radius: 50px;
}
.btn-primary{
    color: white;
    background: red;
}
.btn-secondary{
    color: red;
    background: white;
}
.square{
    position: absolute;
    top: 86%;
    left: 50%;
}
.square > div{
    width: 55px;
    height: 55px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}
.square > div > img{
    transform: rotate(315deg);
}
.first-section{
    margin: 80px 0;
    height: calc(0.75 * 100vh);
}
.first-section-content > h2, .second-section-content > h2, .third-section-content > h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    margin: 30px 0;
    padding: 30px;
}
.first-section-content > h2, .third-section-content > h2{
    color: #212020;
}
.second-section-content > h2{
    color: white;
}
.first-section-content > h2 > span, .second-section-content > h2 > span, .third-section-content > h2 > span{
    color: red;
}
.section-news{
    display: flex;
    justify-content: space-between;
}
.news{
    width: calc((100% / 3) - 20px);
    /*padding: 50px 0;*/
}
.news > h3 {
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 400;
}
.news > p {
    margin: 20px 0;
    font-weight: 300;
    font-size: 14px;
}
.news > button {
    margin: 20px 0;
}
.second-section {
    height: calc(0.75 * 100vh);
    background: #212020;
}
.news-secondary{
    color: rgb(172, 161, 161);
    text-align: center;
    width: calc((100% / 4) - 20px);
}
.news-secondary > h3{
    color: rgb(210, 199, 199);
}
.news-secondary > img{
    border-radius: 50%;
}
.third-section{
    height: calc(0.75 * 100vh);
}
.news-photo{
    width: 50%;
}
.news-text{
    width: 50%;
}
.news-text > p{
    padding: 0 0 30px 20px;
}